* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    font-size: 1rem;
    margin: 1rem 0;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin: 0 0 3rem;
    font-size: 3rem;
    text-align: center;
}

.post {
    display: flex;
    border: 2px black solid;
    padding: 1rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
}