body {
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

h1{
    font-size: 50px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type:  none;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.list {
    display: flex;
    width: 100%;
    justify-content: center;
    
    &-header_item {
        margin: 0 20px;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        background-color: cornflowerblue;
    }
}

.input-place {
    width: 100%;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .label {
        color: black;
        font-size: 25px;
        margin-right: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .input {
        min-width: 700px;
        max-width: auto;
        min-height: 30px;
        font-size: 20px;
        background-color: cornflowerblue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.footer-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &_item {
        font-size: 30px;
        cursor: pointer;
        text-align: center;
    }
}

.selected {
    background-color: cornflowerblue;
}

.item {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}